# Clock
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;

# Reset
NET "reset" LOC = "A7" | IOSTANDARD = LVCMOS33;

# Start
NET "start" LOC = "B8" | IOSTANDARD = LVCMOS33;

# Matrix A Inputs
NET "A[0][0]" LOC = "P11" | IOSTANDARD = LVCMOS33;
NET "A[0][1]" LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "A[0][2]" LOC = "N12" | IOSTANDARD = LVCMOS33;
NET "A[1][0]" LOC = "M12" | IOSTANDARD = LVCMOS33;
NET "A[1][1]" LOC = "M13" | IOSTANDARD = LVCMOS33;
NET "A[1][2]" LOC = "L14" | IOSTANDARD = LVCMOS33;
NET "A[2][0]" LOC = "L13" | IOSTANDARD = LVCMOS33;
NET "A[2][1]" LOC = "K14" | IOSTANDARD = LVCMOS33;
NET "A[2][2]" LOC = "K13" | IOSTANDARD = LVCMOS33;

# Matrix B Inputs
NET "B[0][0]" LOC = "J14" | IOSTANDARD = LVCMOS33;
NET "B[0][1]" LOC = "J13" | IOSTANDARD = LVCMOS33;
NET "B[0][2]" LOC = "H14" | IOSTANDARD = LVCMOS33;
NET "B[1][0]" LOC = "H13" | IOSTANDARD = LVCMOS33;
NET "B[1][1]" LOC = "G14" | IOSTANDARD = LVCMOS33;
NET "B[1][2]" LOC = "G13" | IOSTANDARD = LVCMOS33;
NET "B[2][0]" LOC = "F14" | IOSTANDARD = LVCMOS33;
NET "B[2][1]" LOC = "F13" | IOSTANDARD = LVCMOS33;
NET "B[2][2]" LOC = "E13" | IOSTANDARD = LVCMOS33;

# Matrix C Outputs
NET "C[0][0]" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "C[0][1]" LOC = "D12" | IOSTANDARD = LVCMOS33;
NET "C[0][2]" LOC = "C12" | IOSTANDARD = LVCMOS33;
NET "C[1][0]" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "C[1][1]" LOC = "A12" | IOSTANDARD = LVCMOS33;
NET "C[1][2]" LOC = "C11" | IOSTANDARD = LVCMOS33;
NET "C[2][0]" LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "C[2][1]" LOC = "A11" | IOSTANDARD = LVCMOS33;
NET "C[2][2]" LOC = "A10" | IOSTANDARD = LVCMOS33;

# Done Signal
NET "done" LOC = "B10" | IOSTANDARD = LVCMOS33;
